.parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 5px solid black; */
}

.logo {
    height: 55px;
    margin: 10px;
    /* border: solid black 2px; */
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    position: sticky;
    height: 55px;
    /* border: solid black 2px; */
    margin: 10px 20px;
    align-items: center;
}
.searchbar {
    gap: 15px;
    max-width: 500px;
    width: 100%;
    /* border: solid black 2px; */
}
.leftsection {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 700px;
    height: 55px;
    width: 100%;
    /* border: 2px solid black; */
}

.rightsection {
    display: flex;
    align-items: center;
    gap: 15px;
}