.parent {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.logo {
    margin: 10px 0;
    width: 50px;
}
.sidebar {
    position: sticky;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
    width: 250px;
    height: 100vh;
}
.sidebar a {
    border-radius: 5px;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}
.signout {
    margin-top: auto;
    width: 225px;
    margin-bottom: 10px;
    transition: 0.1s ease-in-out;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.useravatar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: rgb(47, 118, 218);
}
.searchbar {
    flex: 1;
    max-width: 500px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background-color: rgb(244, 244, 244);
    overflow: auto;
    padding: 20px 30px;
}
.rightheader {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}