.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

.h1 {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.text {
    margin: 10px 0;
}