.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

.back {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    background-color: white;
}
.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-self: center;
    margin: 10px 0;
}

.head svg {
    margin: 0px 10px;
}

.h1 {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.text {
    margin: 10px 0;
}