.content {
    position: relative;
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 24px;
    align-content: flex-start;
}
