.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
}
.bookcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 270px;
    gap: 5px;
    transition: transform 0.2s ease;
}
.bookcard img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}
.bookcard p {
    width: 150px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}